<%- contentFor('myArticle') %>

    <div class="container">
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

                <div class="post-preview">
                    <h2 class="post-title text-center">
                        <%= monArticle.title %>
                    </h2>
                    <img src="../images/<%= monArticle.img %>" class="img-responsive" alt="">
                    <h3 class="post-subtitle">
                        <%= monArticle.content %>
                    </h3>
                    </a>
                    <p class="post-meta">Posted by Team Je m'en balek le
                        <%= monArticle.date %>
                    </p>
                    <a href="/" class="btn btn-details readmore btn-lg ">Retour sur le site</a>
                </div>
            </div>
        </div>
    </div>