     
        <%- contentFor('listeArticle') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        
                        <% article.forEach((article)=>{ %>
                    <div class="post-preview">
                            <img src="images/<%= article.img %>" class="img-responsive" alt="">
                            <h2 class="post-title text-center">
                                <%= article.title %>
                            </h2>
                            <h3 class="post-subtitle">
                                <%= article.preview %>
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">Andraser</a> <%= article.date %></p>
                    </div>
                    <a href="articles/<%= article._id %>" class="btn btn-details btn-lg">Read more</a>
                    <hr>
                    <%  }); %>
                    <hr>
                    <!-- Pager -->
                    <ul class="pager">
                        <li class="next">
                            <a href="#">Older Posts &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
