     
        <%- contentFor('listeArticle') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        
                    <% for ( let i = 0; i < article.length ; i++) { %>
                        <% if (article[i].brouillon == false ) { %>
                    <div class="post-preview">
                            <img src="images/<%= article[i].img %>" class="img-responsive" alt="">
                            <h2 class="post-title text-center">
                                <%= article[i].title %>
                            </h2>
                            <h3 class="post-subtitle">
                                <%= article[i].preview %>
                            </h3>
                        </a>
                        <p class="post-meta">Posted by Team Je m'en balek le  <%= article[i].date %></p>
                    </div>
                    <a href="articles/<%= article[i].url%>" class="btn btn-details btn-lg">En savoir plus</a>
                    <hr>
                    <%  } %>
                    <% } %>
                    <hr>
                    <!-- Pager -->
                    <ul class="pager">
                        <li class="next">
                            <a href="#">Older Posts &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
