<%- contentFor('listeArticle') %>


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

                <% for ( let i = 0; i < article.length ; i++) { %>
                    <% if (article[i].brouillon == false ) { %>
                        <div class="post-preview text-center">
                            <h2 class="post-title ">
                                <%= article[i].title %>
                            </h2>
                            <img src="images/<%= article[i].img %>" class="img-responsive" alt="">
                            <h3 class="post-subtitle">
                                <%= article[i].preview %>
                            </h3>
                            </a>
                            <p class="post-meta">Posted by
                                <br> Team Je m'en balek
                                <br> le
                                <%= article[i].date %>
                            </p>
                           
                        </div>

                        <a href="articles/<%= article[i].url%>" class=" btn btn-details readmore btn-lg hvr-pulse-shrink">En savoir plus</a>
                        <hr class="design">
                        <%  } %>
                            <% } %>
            </div>
        </div>
    </div>

