<%- contentFor('titre') %>
    <h4 class="text-center">Liste brouillon</h4>
    <%- contentFor('menu')%>
        <div id="demo">
            <!-- Responsive table starts here -->
            <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Article</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                      
                        <% for ( let i = 0; i < article.length ; i++) { %>
                            <% if (article[i].brouillon == true ) { %>
                                <tr>
                                    <td data-title="date">
                                        <%=article[i].date%>
                                    </td>
                                    <td data-title="title">
                                        <%=article[i].title%>
                                    </td>
                                    <td data-title="link">
                                        <a href="/dashboard/listdraftcopyupdate/<%= article[i]._id%>" class="btn btn-warning btn-lg">Modifier</a>
                                    </td>
                                                <td data-title="link">
                                                    <a href='/dashboard/listdraftcopysupp/<%= article[i]._id %>/delete' class="btn btn-warning btn-lg checked">Supprimer</a>
                                                </td>
                                          
                                             
                                </tr>
                                    <% } %>
                                    <% } %>
                    </tbody>
                </table>
            </div>

            <div style="width: 45%; display: inline-block; vertical-align: top; margin-left: 30px;">
            </div>
        </div>
       






