<%- contentFor('profil') %>

    <%- contentFor('titre') %>
        <h4 class="text-center">Mon Profil</h4>
        <%- contentFor('menu')%>

            <div id="demo">
                <!-- Responsive table starts here -->
                <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
                <div class="table-responsive-vertical shadow-z-1">
                    <!-- Table starts here -->
                    <table id="table" class="table table-hover table-mc-light-blue">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Mot de passe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.forEach((obj)=>{ %>
                                <tr>
                                    <td>
                                        <%=obj.nom%>
                                    </td>
                                    <td>
                                            <%=obj.prenom%>
                                        </td>
                                        <td>
                                                <%=obj.email%>
                                            </td>
                                            <td>
                                                    <%=obj.nom%>
                                                </td>
                                                <td>
                                                        <%=obj.nom%>
                                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>

                <div style="width: 45%; display: inline-block; vertical-align: top; margin-left: 30px;">
                </div>
            </div>