<%- contentFor('profil') %>

    <%- contentFor('titre') %>
        <h4 class="text-center">Mon Profil</h4>
        <%- contentFor('menu')%>

            <div id="demo">
                <!-- Responsive table starts here -->
                <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
                <div class="table-responsive-vertical shadow-z-1">
                    <!-- Table starts here -->
                    <table id="table" class="table table-hover table-mc-light-blue">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Mot de passe</th>
                                <th>Ajouter</th>
                                <th>Modifier</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.
                            forEach((user)=>{ %>
                                <tr>
                                    <td>
                                        <%=user.avatar%>
                                    </td>
                                    <td>
                                        <%=user.nom%>
                                    </td>
                                    <td>
                                        <%=user.prenom%>
                                    </td>
                                    <td>
                                        <%=user.email%>
                                    </td>
                                    <td>
                                        <%=user.password%>
                                    </td>
                                    <td>
                                        <a href="/dashboard/addprofil" class="btn btn-warning btn-lg">Ajouter</a>
                                    </td>
                                    <td>
                                        <a href="/dashboard/updateprofil" class="btn btn-warning btn-lg">Modifier</a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>

                <div style="width: 45%; display: inline-block; vertical-align: top; margin-left: 30px;">
                </div>
            </div>